body {
    background-image: url(messi-seleccion-argentina-mundial.webp)
}
.form-box {
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;
    background-image: linear-gradient(#4acefa, #75dbfa);
    box-shadow: 5px 5px 3px 1px gray;
    font-display: white;
    position: relative;
}
h1, p, label {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#email, #Password, select {
    padding: 0px;
    width: 100%;
}
#button {
    position: absolute;
    right: 20px;
    bottom: 15px;
}






